.logo{
	text-transform: uppercase;
	font-family: YesevaOne;
	margin: 47px 240px 0 0;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
}
