.section-ingredients{
	background-image: url(../img/ingredients.jpg);
	background-size: cover;
	height: 758px;
	object-fit: contain;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
